@model IEnumerable<FerreteriaGHome.Web.Data.Entities.SaleAgent>

@{
    ViewData["Title"] = "Index";
}

<h1>Agente de Ventas</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><span class="material-symbols-outlined">add</span></a>
</p>

<div class="container border border-success mt-4 tab">
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-dark"><span class="material-symbols-outlined">edit</span></a>
                          <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><span class="material-symbols-outlined">delete</span></a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>
