@*@model IEnumerable<FerreteriaGHome.Web.Data.Entities.Activity>*@
@*@model IEnumerable<FerreteriaGHome.Web.Data.Entities.Activity>*@
@model FerreteriaGHome.Web.Models.ProyectViewModel

@{
    ViewData["Title"] = "Index";
}

<a class="material-back" asp-controller="Proyects" asp-action="Index">
    <span class="material-symbols-outlined">
        arrow_back
    </span>
</a>

<h1 class="title-current">@ViewBag.proyectName</h1>
@*<h2>@ViewBag.proyectId</h2>*@

<div class="manag-container">
    <a class="manag-container-1" asp-controller="ProyectUsers" asp-action="Index" asp-route-id="@ViewBag.proyectId" class="button-custom">
        <div class="card-headed">
            <img src="~/images/ControlImgs/users.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            @*<a asp-controller="ProyectUsers" asp-action="Index" asp-route-id="@ViewBag.proyectId" class="button-custom">Gestionar Usuarios</a>*@
            Gestionar Usuarios
        </div>
    </a>
    <a class="manag-container-1" asp-controller="CurrentSprint" asp-action="Index" asp-route-id="@ViewBag.proyectId" class="button-custom">
        <div class="card-headed">
            <img src="~/images/ControlImgs/task.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            @*<a asp-controller="CurrentSprint" asp-action="Index" asp-route-id="@ViewBag.proyectId" class="button-custom">Gestionar Sprint Actual</a>*@
            Gestionar Sprint Actual
        </div>
    </a>
</div>

<h2 class="title-current title-menu">Actividades</h2>
<p class="button-container">
    <a asp-action="CreateActivity" class="material-button" asp-route-id="@ViewBag.proyectId">
        <span class="material-symbols-outlined">
            add
        </span>
        Nueva actividad
    </a>
</p>
@*<p>
    <a asp-action="CreateActivity" asp-route-id="@ViewBag.proyectId">Crear una nueva actividad</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Descripción
            </th>
            <th>
                Prioridad
            </th>
            <th>
                Evidencia
            </th>
            <th>
                Observaciones
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Activities)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority.Description)
                </td>
                <td>
                    @if (item.File != null && item.File.Length > 0)
                    {
                        <a href="@Url.Action("DownloadFile", "Activities", new { id = item.Id })">Descargar PDF</a>
                    }
                    else
                    {
                        <p>Sin evidencia</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observations)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Description)
                </td>
                <td>
                    <a class="material-button__main" asp-controller="ActivityUsers" asp-action="Index" asp-route-id="@item.Id" asp-route-proyectId="@ViewBag.proyectId">
                        Gestionar Asignación
                    </a>
                    <a class="material-button__secondary" asp-action="EditActivity" asp-route-id="@item.Id" asp-route-proyectId="@ViewBag.proyectId">
                        <span class="material-symbols-outlined">
                            <span class="material-symbols-outlined">
                                edit_note
                            </span>
                        </span>
                    </a>
                    <a class="material-button__secondary" asp-action="DeleteActivity" asp-route-id="@item.Id" asp-route-proyectId="@ViewBag.proyectId">
                        <span class="material-symbols-outlined">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </span>
                    </a>
                    @*<a asp-controller="ActivityUsers" asp-action="Index" asp-route-id="@item.Id" asp-route-proyectId="@ViewBag.proyectId">Gestionar Asignación</a>*@ 
                    @*<a asp-action="EditActivity" asp-route-id="@item.Id" asp-route-proyectId="@ViewBag.proyectId">Editar</a>*@
                    @*<a asp-action="DeleteActivity" asp-route-id="@item.Id" asp-route-proyectId="@ViewBag.proyectId">Eliminar</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>




<h2 class="title-current title-menu">Sprints</h2>
@*<p>
    <a asp-action="CreateSprint" asp-route-id="@ViewBag.proyectId">Crear una nuevo Sprint</a>
</p>*@
<p class="button-container">
    <a asp-action="CreateSprint" class="material-button" asp-route-id="@ViewBag.proyectId">
        <span class="material-symbols-outlined">
            add
        </span>
        Nuevo Sprint
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Objetivo
            </th>
            <th>
                Fecha de Inicio
            </th>
            <th>
                Fecha de finalización
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sprints)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Objective)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <a class="material-button__main" asp-controller="SprintActivities" asp-action="Index" asp-route-id="@item.Id" asp-route-proyectId="@ViewBag.proyectId">
                        Gestionar Actividades
                    </a>
                    <a class="material-button__secondary" asp-action="EditSprint" asp-route-id="@item.Id" asp-route-proyectId="@ViewBag.proyectId">
                        <span class="material-symbols-outlined">
                            <span class="material-symbols-outlined">
                                edit_note
                            </span>
                        </span>
                    </a>
                    <a class="material-button__secondary" asp-action="DeleteSprint" asp-route-id="@item.Id" asp-route-proyectId="@ViewBag.proyectId">
                        <span class="material-symbols-outlined">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </span>
                    </a>
                    @*<a asp-controller="SprintActivities" asp-action="Index" asp-route-id="@item.Id" asp-route-proyectId="@ViewBag.proyectId">Gestionar Actividades</a> 
                    <a asp-action="EditSprint" asp-route-id="@item.Id" asp-route-proyectId="@ViewBag.proyectId">Editar</a>
                    <a asp-action="DeleteSprint" asp-route-id="@item.Id" asp-route-proyectId="@ViewBag.proyectId">Eliminar</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

<link rel="stylesheet" type="text/css" href="~/css/site.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/dragAndDrop.js"></script>



