@*@model IEnumerable<FerreteriaGHome.Web.Data.Entities.Activity>*@
@*@model IEnumerable<FerreteriaGHome.Web.Data.Entities.Activity>*@
@model FerreteriaGHome.Web.Models.ProyectViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="title-current">@ViewBag.proyectName</h1>
@*<h2>@ViewBag.proyectId</h2>*@

<div class="manag-container">
    @*<div class="manag-container-1">
        <div class="card-headed">
            <img src="~/images/ControlImgs/notebook-1198156_1280.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <a href="#" class="button-custom">Gestionar Tablero</a>
        </div>
    </div>*@
    <div class="manag-container-1">
        <div class="card-headed">
            <img src="~/images/ControlImgs/people-2557396_1280.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <a asp-controller="ProyectUsers" asp-action="Index" asp-route-id="@ViewBag.proyectId" class="button-custom">Gestionar Usuarios</a>
        </div>
    </div>
</div>

<h2 class="title-current">Actividades</h2>
<p>
    <a asp-action="CreateActivity" asp-route-id="@ViewBag.proyectId">Crear una nueva actividad</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Descripción
            </th>
            <th>
                Prioridad
            </th>
            <th>
                Evidencia
            </th>
            <th>
                Observaciones
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Activities)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority.Description)
                </td>
                <td>
                    @if (item.File != null && item.File.Length > 0)
                    {
                        <a href="@Url.Action("DownloadFile", "Activities", new { id = item.Id })">Descargar PDF</a>
                    }
                    else
                    {
                        <p>Sin evidencia</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observations)
                </td>
                <td>
                    <a asp-controller="ActivityUsers" asp-action="Index" asp-route-id="@item.Id" asp-route-proyectId="@ViewBag.proyectId">Gestionar Asignación</a> -
                    <a asp-action="EditActivity" asp-route-id="@item.Id" asp-route-proyectId="@ViewBag.proyectId">Edit</a>
                    <a asp-action="DeleteActivity" asp-route-id="@item.Id" asp-route-proyectId="@ViewBag.proyectId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>




<h2 class="title-current">Sprints</h2>
<p>
    <a asp-action="CreateSprint" asp-route-id="@ViewBag.proyectId">Crear una nuevo Sprint</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Objetivo
            </th>
            <th>
                Fecha de Inicio
            </th>
            <th>
                Fecha de finalización
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sprints)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Objective)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <a asp-controller="SprintActivities" asp-action="Index" asp-route-id="@item.Id" asp-route-proyectId="@ViewBag.proyectId">Gestionar Actividades</a> -
                    <a asp-action="EditSprint" asp-route-id="@item.Id" asp-route-proyectId="@ViewBag.proyectId">Edit</a>
                    <a asp-action="DeleteSprint" asp-route-id="@item.Id" asp-route-proyectId="@ViewBag.proyectId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<link rel="stylesheet" type="text/css" href="~/css/site.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/dragAndDrop.js"></script>



