@model IEnumerable<FerreteriaGHome.Web.Data.Entities.Activity>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Actividades</h1>

<p>
    <a asp-action="Create">Crear una nueva actividad</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Prioridad
            </th>
            <th>
                Evidencia
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observations)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority.Description)
                </td>
            <td>
                    @if (item.File != null && item.File.Length > 0)
                    {
                        <a href="@Url.Action("DownloadFile", "Activities", new { id = item.Id })">Descargar PDF</a>
                    }
                    else
                    {
                        <p>Sin evidencia</p>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observations)
            </td>
            <td>
    
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
